<div id="login_logo">
  <%= image_tag 'logo_big.png' %>
</div>

<div id="login_form">
  
  <p>Check out the latest Ruby on Rails jobs. OneFootIN helps you get in the door through your Alumni Network.<br><br>Connect with LinkedIn to get started.</p>

  <div id="linkedin_auth_button">
    <a href="/linkedin_oauth_url" role="button" class="btn btn-info btn-large">Connect to LinkedIn</a>
  </div>

</div>
