<h1>All Companies</h1>

<nav>
  <ul>
    <li><a href="/show_aggregate_connections">Aggregate Conncections</a></li>
    <li><a href="/show_all_jobs">All Jobs</a></li>
    <li><a href="/show_all_jobs_with_connections">All Jobs with Connections</a></li>
  </ul>
</nav>